.numbers-2 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  left: 113px;
  position: absolute;
  top: 53px;
}

.numbers-item-2 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  margin-left: 99px;
  min-width: 334px;
  position: relative;
}

.icon-4 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-27 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-11 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-person-2 {
  height: 40px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 40px;
}

.numbers-3 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  left: 113px;
  position: absolute;
  top: 53px;
}

.numbers-item-3 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  margin-left: 99px;
  min-width: 334px;
  position: relative;
}

.icon-5 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-28 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-12 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-person-3 {
  height: 40px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 40px;
}

.numbers-4 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  left: 113px;
  position: absolute;
  top: 53px;
}

.numbers-item-4 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  margin-left: 99px;
  min-width: 334px;
  position: relative;
}

.icon-6 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-29 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-13 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-person-4 {
  height: 40px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 40px;
}

.numbers-5 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  left: 113px;
  position: absolute;
  top: 53px;
}

.numbers-item-5 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  margin-left: 99px;
  min-width: 334px;
  position: relative;
}

.icon-7 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-30 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-14 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-person-5 {
  height: 40px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 40px;
}

