.twitter-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 32px;
  padding: 3.5px 2px;
  width: 24px;
}

.vector-226 {
  height: 17px;
  width: 20px;
}

.twitter-1-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 32px;
  padding: 3.5px 2px;
  width: 24px;
}

.vector-227 {
  height: 17px;
  width: 20px;
}

