.group-162 {
  height: 33px;
  left: 247px;
  position: absolute;
  top: 113px;
  width: 60px;
}

.x3825-btc {
  height: 20px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 58px;
}

.volume-24h-1 {
  height: 13px;
  left: 0;
  letter-spacing: 0.08px;
  line-height: 12px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 49px;
}

.group-162.group-162-1 {
  left: 245px;
}

