.group-117 {
  height: 33px;
  left: 126px;
  position: absolute;
  top: 113px;
  width: 88px;
}

.overlap-group5-6 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.price-5 {
  height: 20px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 50px;
}

.text-40 {
  height: 17px;
  left: 50px;
  letter-spacing: 0.10px;
  line-height: 15px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 34px;
}

.last-price {
  height: 13px;
  left: 0;
  letter-spacing: 0.08px;
  line-height: 12px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 38px;
}

.group-117.group-117-1 {
  left: 124px;
}

