.logosbitcoin-6-1 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  left: 28px;
  padding: 7.0px 10.0px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.vector-218 {
  height: 26px;
  margin-left: 1px;
  width: 20px;
}

.logosbitcoin-6-1.logosbitcoin-7 {
  align-items: flex-end;
  background-image: url(/img/vector-27@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  padding: 7.0px 10.0px;
  width: 40px;
}

.logosbitcoin-6-1.logosbitcoin-7 .vector-218 {
  margin-left: unset;
}

.logosbitcoin-6-1.logosbitcoin-8 {
  align-items: flex-end;
  background-image: url(/img/vector-35@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  left: 87px;
  padding: 7.0px 10.0px;
  position: absolute;
  top: 12px;
  width: 40px;
}

