.group-111 {
  align-items: flex-start;
  display: flex;
  height: 148px;
  left: 49px;
  position: absolute;
  top: 124px;
}

.overlap-group7-5 {
  height: 151px;
  margin-left: -1px;
  margin-top: -2.04px;
  position: relative;
  width: 543px;
}

.vector-8-1 {
  height: 149px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 542px;
}

.vector-7-1 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 543px;
}

.group-111-1 {
  align-items: flex-start;
  display: flex;
  height: 148px;
  left: 49px;
  position: absolute;
  top: 124px;
}

.overlap-group6-4 {
  height: 151px;
  margin-left: -1px;
  margin-top: -2.04px;
  position: relative;
  width: 543px;
}

.vector-8-2 {
  height: 149px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 542px;
}

.vector-7-2 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 543px;
}

