.group-157 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  left: 552px;
  position: absolute;
  top: 196px;
}

.overlap-group38 {
  align-items: flex-start;
  background-color: var(--downy);
  border-radius: 24px;
  display: flex;
  height: 22px;
  justify-content: flex-end;
  min-width: 40px;
  padding: 4.5px 3.7px;
}

.price-17 {
  height: 13px;
  letter-spacing: 0;
  width: 30px;
}

.group-157.group-157-1 {
  left: 547px;
}

