.instagram-1 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 32px;
  padding: 0 2px;
  width: 24px;
}

.vector-222 {
  height: 20px;
  width: 20px;
}

.instagram-1-1 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 32px;
  padding: 0 2px;
  width: 24px;
}

.vector-223 {
  height: 20px;
  width: 20px;
}

