.value-proposition-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 87px;
  width: 787px;
}

.text-202 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 19.23px;
  margin-top: 57px;
  min-height: 68px;
  width: 746px;
}

.hey-content-cre-with-your-work-2 {
  height: 209px;
  margin-left: 4.04px;
  margin-top: 70px;
  width: 704px;
}

.button-51 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 67px;
  margin-top: 7px;
  overflow: hidden;
  padding: 0 16.0px;
  width: 237px;
}

.get-started-3 {
  height: 23px;
  margin-left: 24px;
  margin-top: 8.0px;
  width: 109px;
}

.arrow-right-3 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-left: 40px;
  min-width: 32px;
  padding: 0 3.8px;
}

.evachevron-right-outline-3 {
  height: 24px;
  width: 24px;
}

.value-proposition-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 87px;
  width: 787px;
}

.welcome-to-ant-net-1 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 19.23px;
  margin-top: 57px;
  min-height: 68px;
  width: 746px;
}

.hey-content-cre-with-your-work-3 {
  height: 209px;
  margin-left: 4.04px;
  margin-top: 70px;
  width: 704px;
}

.button-52 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 67px;
  margin-top: 7px;
  overflow: hidden;
  padding: 0 16.0px;
  width: 237px;
}

.get-started-4 {
  height: 23px;
  margin-left: 24px;
  margin-top: 8.0px;
  width: 109px;
}

.arrow-right-4 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-left: 40px;
  min-width: 32px;
  padding: 0 3.8px;
}

.evachevron-right-outline-4 {
  height: 24px;
  width: 24px;
}

.value-proposition-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 87px;
  width: 787px;
}

.text-241 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 19.23px;
  margin-top: 57px;
  min-height: 68px;
  width: 746px;
}

.hey-content-cre-with-your-work-4 {
  height: 209px;
  margin-left: 4.04px;
  margin-top: 70px;
  width: 704px;
}

.button-53 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 67px;
  margin-top: 7px;
  overflow: hidden;
  padding: 0 16.0px;
  width: 237px;
}

.get-started-5 {
  height: 23px;
  margin-left: 24px;
  margin-top: 8.0px;
  width: 109px;
}

.arrow-right-5 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-left: 40px;
  min-width: 32px;
  padding: 0 3.8px;
}

.evachevron-right-outline-5 {
  height: 24px;
  width: 24px;
}

.value-proposition-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 87px;
  width: 787px;
}

.welcome-to-ant-net-2 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 19.23px;
  margin-top: 57px;
  min-height: 68px;
  width: 746px;
}

.hey-content-cre-with-your-work-5 {
  height: 209px;
  margin-left: 4.04px;
  margin-top: 70px;
  width: 704px;
}

.button-54 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 67px;
  margin-top: 7px;
  overflow: hidden;
  padding: 0 16.0px;
  width: 237px;
}

.get-started-6 {
  height: 23px;
  margin-left: 24px;
  margin-top: 8.0px;
  width: 109px;
}

.arrow-right-6 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-left: 40px;
  min-width: 32px;
  padding: 0 3.8px;
}

.evachevron-right-outline-6 {
  height: 24px;
  width: 24px;
}

.value-proposition-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 87px;
  width: 787px;
}

.welcome-to-ant-net-3 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 19.23px;
  margin-top: 57px;
  min-height: 68px;
  width: 746px;
}

.hey-content-cre-with-your-work-6 {
  height: 209px;
  margin-left: 4.04px;
  margin-top: 70px;
  width: 704px;
}

.button-55 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 67px;
  margin-top: 7px;
  overflow: hidden;
  padding: 0 16.0px;
  width: 237px;
}

.get-started-7 {
  height: 23px;
  margin-left: 24px;
  margin-top: 8.0px;
  width: 109px;
}

.arrow-right-7 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-left: 40px;
  min-width: 32px;
  padding: 0 3.8px;
}

.evachevron-right-outline-7 {
  height: 24px;
  width: 24px;
}

