.dott-1-5 {
  align-items: flex-end;
  display: flex;
  height: 371px;
  left: 1555px;
  overflow: hidden;
  padding: 0 76.6px;
  position: absolute;
  top: 580px;
  width: 320px;
}

.overlap-group-30 {
  height: 371px;
  margin-bottom: -0.26px;
  position: relative;
  width: 42px;
}

.vector-242 {
  height: 304px;
  left: 18px;
  position: absolute;
  top: 67px;
  width: 4px;
}

.vector-243 {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.dott-1-5.dott-8-2 {
  left: 1134px;
  top: 584px;
}

