.group-134 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
  margin-left: 7px;
  min-width: 8px;
}

.overlap-group-9 {
  height: 51px;
  position: relative;
  width: 8px;
}

.rectangle-78-14 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 8px;
}

.rectangle-79-16 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 51px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-134.group-152 {
  align-self: flex-start;
  margin-bottom: unset;
  margin-left: 8px;
  margin-top: 34.49px;
}

.group-134.group-154 {
  margin-bottom: unset;
  margin-left: 16px;
  margin-top: 17.8px;
}

.group-134.group-121 {
  margin-bottom: unset;
  margin-top: 55.63px;
}

.group-134.group-148 {
  margin-bottom: 6.68px;
}

.group-134.group-152-1 {
  align-self: flex-start;
  margin-bottom: unset;
  margin-top: 34.49px;
}

.group-134.group-154-1 {
  margin-bottom: unset;
  margin-left: 16px;
  margin-top: 17.8px;
}

.group-134.group-121-1 {
  margin-bottom: unset;
  margin-top: 55.63px;
}

.group-134.group-148-1 {
  margin-bottom: 6.68px;
}

