.dott-4-2 {
  align-items: flex-start;
  display: flex;
  height: 368px;
  left: 750px;
  overflow: hidden;
  position: absolute;
  top: 283px;
  transform: rotate(-180deg);
  width: 393px;
}

.overlap-group-31 {
  height: 447px;
  margin-left: -236px;
  margin-top: -78.86px;
  position: relative;
  width: 393px;
}

.vector-244 {
  height: 302px;
  left: 353px;
  position: absolute;
  top: 145px;
  transform: rotate(180deg);
  width: 4px;
}

.vector-245 {
  height: 66px;
  left: 330px;
  position: absolute;
  top: 79px;
  transform: rotate(180deg);
  width: 51px;
}

.dott-2-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 368px;
  left: 0;
  padding: 32.9px 119.3px;
  position: absolute;
  top: 0;
  width: 393px;
}

.vector-246 {
  height: 1px;
  transform: rotate(180deg);
  width: 1px;
}

.vector-247 {
  height: 1px;
  margin-left: 0;
  margin-top: 183px;
  transform: rotate(180deg);
  width: 1px;
}

.dott-4-2.dott-7-2 {
  left: 1206px;
  top: 276px;
}

