.top-1 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.text-102 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-i10631720 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-42 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-10 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-2 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.ant-eagle-2 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-1 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-1 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-43 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-11 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-3 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.text-205 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-2 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-i10631720-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-2 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-44 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-12 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-4 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.ant-eagle-3 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-3 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-3 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-45 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-13 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-5 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.text-244 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-4 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-i10631720-2 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-4 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-46 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-14 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-6 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.ant-eagle-4 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-5 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-2 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-5 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-47 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-15 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.top-7 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 64.0px;
  margin-top: 60px;
  min-width: 1140px;
  position: relative;
}

.ant-eagle-5 {
  letter-spacing: 1.12px;
  margin-bottom: 5.0px;
  min-height: 31px;
  width: 144px;
}

.sign-in-6 {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 223px;
}

.login-3 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.divider-6 {
  height: 24px;
  margin-left: 21px;
  width: 1px;
}

.button-48 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 23px;
  overflow: hidden;
  padding: 0 30px;
  width: 130px;
}

.place-16 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

