.x30-b-9 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  min-width: 334px;
  position: relative;
}

.icon-8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 24px;
}

.icon-bar-chart-2 {
  height: 32px;
  width: 32px;
}

.x30-b-10 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  min-width: 334px;
  position: relative;
}

.icon-9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 24px;
}

.icon-bar-chart-3 {
  height: 32px;
  width: 32px;
}

.x30-b-11 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  min-width: 334px;
  position: relative;
}

.icon-10 {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 24px;
}

.icon-bar-chart-4 {
  height: 32px;
  width: 32px;
}

.x30-b-12 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  min-width: 334px;
  position: relative;
}

.icon-11 {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 24px;
}

.icon-bar-chart-5 {
  height: 32px;
  width: 32px;
}

.x30-b-13 {
  align-items: flex-start;
  display: flex;
  height: 92px;
  min-width: 334px;
  position: relative;
}

.icon-12 {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 24px;
}

.icon-bar-chart-6 {
  height: 32px;
  width: 32px;
}

