.component-4 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  height: 52px;
  margin-top: 32px;
  min-width: 343px;
  padding: 15px;
}

.dogs-i0861074 {
  height: 18px;
  letter-spacing: 0;
}

.component-5 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  height: 52px;
  margin-top: 32px;
  min-width: 343px;
  padding: 15px;
}

.dogs-i0727074 {
  height: 18px;
  letter-spacing: 0;
}

