.mobile {
  background-color: var(--neutralwhite);
  height: 6061px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 1479px;
  opacity: 0;
}

.mobile.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

.overlap-group-24 {
  height: 4656px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x-22 {
  height: 603px;
  left: 131px;
  position: absolute;
  top: 435px;
  width: 925px;
}

.trade-securely-2 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 1405px;
  left: 27px;
  position: absolute;
  top: 4656px;
  width: 1440px;
}

.overlap-group8-8 {
  height: 673px;
  position: relative;
  width: 1440px;
}

.bg-2 {
  background-color: var(--color--primary);
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.cryptocurrencies-2 {
  height: 594px;
  margin-left: 18.0px;
  margin-top: 120px;
  width: 1244px;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

