.group-139 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 17.8px;
  margin-left: 7px;
  min-width: 8px;
}

.overlap-group-7 {
  height: 45px;
  position: relative;
  width: 8px;
}

.rectangle-78-8 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 8px;
}

.rectangle-79-9 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 45px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-139.group-133 {
  height: 45px;
  left: 6px;
  margin-bottom: unset;
  margin-left: unset;
  min-width: unset;
  position: absolute;
  top: 43px;
}

.group-139.group-151 {
  align-self: flex-end;
  margin-bottom: 30.04px;
  margin-left: 1px;
}

.group-139.group-151 .overlap-group-7,
.group-139.group-151 .overlap-group3-8 {
  height: 61px;
}

.group-139.group-151 .rectangle-78-8,
.group-139.group-151 .rectangle-78-9 {
  background-color: var(--radical-red);
}

.group-139.group-151 .rectangle-79-11,
.group-139.group-151 .rectangle-79-9 {
  background-color: var(--radical-red);
  height: 61px;
}

.group-139.group-128 {
  margin-bottom: 22.25px;
  margin-left: 24px;
}

.group-139.group-128 .rectangle-79-9 {
  background-color: var(--radical-red);
}

.group-139.group-127 {
  margin-bottom: 23.36px;
}

.group-139.group-133-1 {
  height: 45px;
  left: 6px;
  margin-bottom: unset;
  margin-left: unset;
  min-width: unset;
  position: absolute;
  top: 43px;
}

.group-139.group-151-1 {
  align-self: flex-end;
  margin-bottom: 30.04px;
  margin-left: 1px;
}

.group-139.group-151-1 .overlap-group-7,
.group-139.group-151-1 .overlap-group3-9 {
  height: 61px;
}

.group-139.group-151-1 .rectangle-78-11,
.group-139.group-151-1 .rectangle-78-8 {
  background-color: var(--radical-red);
}

.group-139.group-151-1 .rectangle-79-13,
.group-139.group-151-1 .rectangle-79-9 {
  background-color: var(--radical-red);
  height: 61px;
}

.group-139.group-128-1 {
  margin-bottom: 22.25px;
  margin-left: 24px;
}

.group-139.group-128-1 .rectangle-79-9 {
  background-color: var(--radical-red);
}

.group-139.group-127-1 {
  margin-bottom: 23.36px;
}

