.group-116-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 20px;
  width: 112px;
}

.group-115-2 {
  align-items: center;
  display: flex;
  min-width: 112px;
}

.group-96-2 {
  align-items: flex-start;
  background-color: var(--cyan--aqua);
  display: flex;
  margin-top: 1.11px;
  min-width: 15px;
}

.overlap-group5-8 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.9px;
  height: 18px;
  position: relative;
  width: 15px;
}

.ellipse-44-2 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.9px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 15px;
}

.ant-designcaret-up-outlined-2 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 2.8px 1.2px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.vector-124 {
  height: 6px;
  width: 7px;
}

.text-41 {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  margin-left: 6px;
  white-space: nowrap;
  width: 90px;
}

.span-4 {
  letter-spacing: 0.02px;
}

.trends {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-right: 35.93px;
  margin-top: 2px;
  white-space: nowrap;
  width: 32px;
}

.group-116-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 20px;
  width: 112px;
}

.group-115-3 {
  align-items: center;
  display: flex;
  min-width: 112px;
}

.group-96-3 {
  align-items: flex-start;
  background-color: var(--cyan--aqua);
  display: flex;
  margin-top: 1.11px;
  min-width: 15px;
}

.overlap-group4-9 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.9px;
  height: 18px;
  position: relative;
  width: 15px;
}

.ellipse-44-3 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.9px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 15px;
}

.ant-designcaret-up-outlined-3 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 2.8px 1.2px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.vector-125 {
  height: 6px;
  width: 7px;
}

.text-152 {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  margin-left: 6px;
  white-space: nowrap;
  width: 90px;
}

.span-5 {
  letter-spacing: 0.02px;
}

.trends-1 {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-right: 35.93px;
  margin-top: 2px;
  white-space: nowrap;
  width: 32px;
}

