.mobilephone {
  align-items: center;
  background-color: #0f054c;
  display: flex;
  flex-direction: column;
  height: 16096px;
  overflow: hidden;
  width: 375px;
}

.overlap-group44-1 {
  align-self: flex-end;
  height: 2037px;
  margin-right: -126.0px;
  position: relative;
  width: 537px;
}

.overlap-group-17 {
  height: 844px;
  left: 19px;
  position: absolute;
  top: 290px;
  width: 384px;
}

.componentlottie-20p9ce3saqjson-1 {
  height: 363px;
  left: 0;
  position: absolute;
  top: 422px;
  width: 375px;
}

.componentlottie-20p9ce3saqjson-1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.componentlottie-20p9ce3saqjson-1 img {
  object-fit: cover;
}

.x-16 {
  align-items: flex-start;
  display: flex;
  height: 159px;
  justify-content: flex-end;
  left: 169px;
  position: absolute;
  top: 680px;
}

.overlap-group5-13 {
  height: 159px;
  margin-top: -0.19px;
  position: relative;
  width: 202px;
}

.group-19 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 118px;
  opacity: 0.3;
  position: absolute;
  top: 96px;
}

.overlap-group6-8 {
  height: 64px;
  margin-top: -0.35px;
  position: relative;
  width: 85px;
}

.vector-130 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 85px;
}

.vector-134 {
  height: 38px;
  left: 42px;
  position: absolute;
  top: 26px;
  width: 42px;
}

.vector-131 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.vector-135 {
  height: 54px;
  left: 118px;
  position: absolute;
  top: 68px;
  width: 83px;
}

.vector-136 {
  height: 42px;
  left: 117px;
  position: absolute;
  top: 72px;
  width: 85px;
}

.vector-137 {
  height: 38px;
  left: 117px;
  position: absolute;
  top: 65px;
  width: 85px;
}

.vector-138 {
  height: 38px;
  left: 160px;
  position: absolute;
  top: 66px;
  width: 42px;
}

.vector-139 {
  height: 56px;
  left: 118px;
  position: absolute;
  top: 39px;
  width: 84px;
}

.vector-140 {
  height: 28px;
  left: 117px;
  position: absolute;
  top: 68px;
  width: 85px;
}

.vector-141 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.x-17 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 197px;
  padding: 32.6px 0;
  position: absolute;
  top: 276px;
  width: 187px;
}

.vector-142 {
  height: 1px;
  margin-right: 42.05px;
  margin-top: 45px;
  mix-blend-mode: lighten;
  width: 1px;
}

.overlap-group7-6 {
  height: 179px;
  margin-right: -0.31px;
  margin-top: 25px;
  position: relative;
  width: 187px;
}

.group-20 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  left: 102px;
  opacity: 0.3;
  position: absolute;
  top: 55px;
}

.overlap-group5-12 {
  height: 65px;
  margin-top: -0.32px;
  position: relative;
  width: 85px;
}

.vector-132 {
  height: 38px;
  left: 42px;
  position: absolute;
  top: 27px;
  width: 43px;
}

.vector-133 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85px;
}

.vector-143 {
  height: 54px;
  left: 103px;
  position: absolute;
  top: 28px;
  width: 83px;
}

.vector-144 {
  height: 42px;
  left: 102px;
  position: absolute;
  top: 33px;
  width: 85px;
}

.vector-145 {
  height: 39px;
  left: 102px;
  position: absolute;
  top: 26px;
  width: 85px;
}

.vector-146 {
  height: 38px;
  left: 144px;
  position: absolute;
  top: 27px;
  width: 43px;
}

.vector-147 {
  height: 32px;
  left: 106px;
  position: absolute;
  top: 2px;
  width: 80px;
}

.vector-148 {
  height: 32px;
  left: 106px;
  position: absolute;
  top: 2px;
  width: 39px;
}

.vector-149 {
  height: 56px;
  left: 102px;
  position: absolute;
  top: 0;
  width: 85px;
}

.vector-150 {
  height: 24px;
  left: 109px;
  position: absolute;
  top: 4px;
  width: 72px;
}

.vector-151 {
  height: 29px;
  left: 102px;
  position: absolute;
  top: 28px;
  width: 85px;
}

.vector-152 {
  height: 54px;
  left: 104px;
  position: absolute;
  top: 1px;
  width: 82px;
}

.vector-153 {
  height: 47px;
  left: 109px;
  position: absolute;
  top: 5px;
  width: 72px;
}

.vector-154 {
  height: 109px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 122px;
}

.x-18 {
  align-items: flex-start;
  display: flex;
  height: 141px;
  left: 17px;
  position: absolute;
  top: 702px;
}

.overlap-group8-3 {
  height: 141px;
  margin-top: -0.17px;
  position: relative;
  width: 190px;
}

.group-21 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 77px;
}

.vector-155 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 85px;
}

.vector-156 {
  height: 54px;
  left: 1px;
  position: absolute;
  top: 46px;
  width: 82px;
}

.vector-157 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 85px;
}

.vector-158 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 85px;
}

.vector-159 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 85px;
}

.vector-160 {
  height: 44px;
  left: 9px;
  position: absolute;
  top: 23px;
  width: 68px;
}

.vector-161 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 84px;
}

.vector-162 {
  height: 64px;
  left: 46px;
  position: absolute;
  top: 0;
  width: 144px;
}

.with-the-revolu-on-first-singup-1 {
  height: 359px;
  left: 41px;
  position: absolute;
  top: 0;
  width: 328px;
}

.u-1 {
  height: 120px;
  left: 113px;
  position: absolute;
  top: 694px;
  width: 240px;
}

.ant-eagle {
  left: 116px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 17px;
  width: 150px;
}

.circle-cropped-1-copy-2-1 {
  height: 48px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 48px;
}

.text-55 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 151px;
  width: 443px;
}

.button-37 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 54px;
  left: 122px;
  overflow: hidden;
  padding: 0 16px;
  position: absolute;
  top: 1143px;
  width: 209px;
}

.get-started {
  height: 24px;
  margin-left: 9px;
  margin-top: 8.0px;
  width: 110px;
}

.overlap-group3-10 {
  height: 2037px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 501px;
}

.run-2 {
  align-items: flex-start;
  display: flex;
  height: 501px;
  left: 150px;
  padding: 0 62.9px;
  position: absolute;
  top: 1536px;
  width: 351px;
}

.overlap-group5-14 {
  height: 501px;
  margin-top: -0.06px;
  position: relative;
  width: 225px;
}

.group-18 {
  height: 501px;
  left: 0;
  position: absolute;
  top: 0;
  width: 225px;
}

.text-56 {
  align-items: flex-start;
  display: flex;
  height: 339px;
  left: 25px;
  position: absolute;
  top: 1718px;
}

.overlap-group6-9 {
  height: 339px;
  position: relative;
  width: 146px;
}

.text-74 {
  left: 7px;
  letter-spacing: 0.64px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 134px;
}

.line-8 {
  height: 1px;
  left: 357px;
  position: absolute;
  top: 34px;
  width: 22px;
}

.line-9 {
  height: 1px;
  left: 357px;
  position: absolute;
  top: 28px;
  width: 22px;
}

.line-10 {
  height: 1px;
  left: 357px;
  position: absolute;
  top: 40px;
  width: 22px;
}

.text-75 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 47px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 1315px;
  width: 343px;
}

.features-6 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 18.0px;
  margin-top: 54px;
  min-height: 78px;
  text-align: center;
  width: 333px;
}

.text-56-1 {
  color: var(--mercury);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxs);
  letter-spacing: 0.16px;
  line-height: 28px;
  margin-right: 19.0px;
  margin-top: 14px;
  min-height: 172px;
  text-align: center;
  width: 304px;
}

.componentlottie-20ikaawl5vjson-1 {
  height: 228px;
  margin-left: 9.0px;
  margin-top: 40px;
  width: 312px;
}

.text-57 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-left: 1.0px;
  margin-top: 80px;
  min-height: 143px;
  text-align: center;
  width: 368px;
}

.componentlottie-20w-x1ch-gjson-1 {
  height: 157px;
  margin-left: 2.0px;
  margin-top: 14px;
  width: 277px;
}

.text-58 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-left: 11.0px;
  margin-top: 49px;
  min-height: 142px;
  text-align: center;
  width: 326px;
}

.text-59 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 1.0px;
  margin-top: 62px;
  min-height: 128px;
  text-align: center;
  width: 406px;
}

.componentlottie-30jspeqlszjson-1 {
  height: 162px;
  margin-right: 14.0px;
  margin-top: 26px;
  width: 163px;
}

.text-60 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-left: 3.0px;
  margin-top: 25px;
  min-height: 191px;
  text-align: center;
  width: 242px;
}

.cross-chain-support-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-top: 62px;
  min-height: 140px;
  text-align: center;
  width: 417px;
}

.componentlottie-20j7-po1-ejson-1 {
  height: 198px;
  margin-left: 22.0px;
  width: 219px;
}

.text-61 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-left: 3.0px;
  margin-top: 122px;
  min-height: 136px;
  text-align: center;
  width: 248px;
}

.text-62 {
  align-self: flex-start;
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-left: -38px;
  margin-top: 44px;
  min-height: 151px;
  text-align: center;
  width: 439px;
}

.componentlottie-20ko8ud57vjson-1 {
  height: 243px;
  margin-right: 13.0px;
  margin-top: 44px;
  width: 268px;
}

.text-63 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-left: 1.0px;
  margin-top: 64px;
  min-height: 182px;
  text-align: center;
  width: 256px;
}

.text-64 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-left: 2.0px;
  margin-top: 59px;
  min-height: 127px;
  text-align: center;
  width: 345px;
}

.componentlottie-30dzassmiojson-1 {
  height: 182px;
  margin-right: 7.0px;
  margin-top: 21px;
  width: 186px;
}

.text-91 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 21px;
  min-height: 148px;
  text-align: center;
  width: 310px;
}

.help-support-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 8.0px;
  margin-top: 40px;
  min-height: 109px;
  text-align: center;
  width: 609px;
}

.componentlottie-307z3j6ycbjson-1 {
  height: 242px;
  margin-left: 9.0px;
  margin-top: 21px;
  width: 288px;
}

.text-65 {
  letter-spacing: 0.64px;
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 59px;
  min-height: 209px;
  text-align: center;
  width: 279px;
}

.overlap-group1-6 {
  height: 5158px;
  margin-left: 2.5px;
  margin-top: 89px;
  position: relative;
  width: 380px;
}

.circle-cropped-1-copy-3 {
  height: 48px;
  left: 263px;
  object-fit: cover;
  position: absolute;
  top: 264px;
  width: 48px;
}

.frame-9 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  height: 4236px;
  left: 21px;
  overflow: hidden;
  padding: 368.1px 9.9px;
  position: absolute;
  top: 0;
  width: 343px;
}

.overlap-group6-10 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 576px;
  justify-content: flex-end;
  margin-right: 10.21px;
  margin-top: 2364px;
  min-width: 313px;
  padding: 51.9px 28.1px;
}

.text-66 {
  letter-spacing: 0.16px;
  line-height: 28px;
  min-height: 239px;
  text-align: center;
  transform: rotate(-0.49deg);
  width: 244px;
}

.overlap-group5-15 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 544px;
  justify-content: flex-end;
  margin-right: 3.69px;
  margin-top: 15px;
  min-width: 297px;
  padding: 78.6px 25.0px;
}

.text-67 {
  letter-spacing: 0.16px;
  line-height: 28px;
  min-height: 184px;
  text-align: center;
  transform: rotate(-0.49deg);
  width: 242px;
}

.text-68 {
  color: var(--color--primary);
  font-weight: 700;
  left: 26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 338px;
}

.btc-6 {
  align-items: flex-start;
  display: flex;
  height: 393px;
  left: 37px;
  position: absolute;
  top: 209px;
}

.overlap-group7-7 {
  -webkit-backdrop-filter: blur(250px) brightness(100%);
  align-items: flex-end;
  backdrop-filter: blur(250px) brightness(100%);
  background-color: var(--color--secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 393px;
  padding: 11px;
  width: 302px;
}

.ant-eagle-1 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  margin-bottom: -4px;
  margin-left: 4.85px;
  margin-top: 142px;
  min-height: 44px;
  text-align: center;
  white-space: nowrap;
  width: 167px;
}

.text-69 {
  letter-spacing: 0.16px;
  line-height: 28px;
  margin-top: 18px;
  min-height: 167px;
  text-align: center;
  width: 269px;
}

.circle-cropped-1-copy-4 {
  height: 60px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 264px;
  width: 59px;
}

.eth-1 {
  height: 455px;
  left: 0;
  position: absolute;
  top: 662px;
  width: 375px;
}

.ltc-5 {
  height: 513px;
  left: 5px;
  position: absolute;
  top: 1068px;
  width: 375px;
}

.upcoming-events {
  color: var(--black);
  font-weight: 700;
  left: 30px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 1570px;
  transform: rotate(-0.49deg);
  width: 325px;
}

.rectangle-108 {
  height: 534px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1660px;
  width: 298px;
}

.text-70 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 87px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 1752px;
  transform: rotate(-0.49deg);
  width: 212px;
}

.text-71 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 72px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1911px;
  transform: rotate(-0.49deg);
  width: 243px;
}

.rectangle-108-1 {
  height: 512px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 2209px;
  width: 300px;
}

.air-drop-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 127px;
  line-height: 48px;
  position: absolute;
  top: 2340px;
  transform: rotate(-0.49deg);
  white-space: nowrap;
  width: 148px;
}

.text-72 {
  left: 52px;
  letter-spacing: 0.16px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 2405px;
  transform: rotate(-0.49deg);
  width: 264px;
}

.text-73 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 45px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 2884px;
  transform: rotate(-0.49deg);
  width: 289px;
}

.componentlottie-20u3uwtennjson-4 {
  height: 71px;
  left: 78px;
  position: absolute;
  top: 1665px;
  width: 90px;
}

.componentlottie-20u3uwtennjson-5 {
  height: 71px;
  left: 67px;
  position: absolute;
  top: 2227px;
  width: 94px;
}

.componentlottie-20u3uwtennjson-6 {
  height: 68px;
  left: 70px;
  position: absolute;
  top: 2753px;
  width: 91px;
}

.componentlottie-20u3uwtennjson-7 {
  height: 67px;
  left: 79px;
  position: absolute;
  top: 3355px;
  width: 91px;
}

.road-map-1 {
  color: var(--color--primary);
  font-weight: 700;
  left: 35px;
  position: absolute;
  top: 4145px;
  width: 335px;
}

.componentlottie-f20a-slin9json-1 {
  height: 182px;
  left: 65px;
  position: absolute;
  top: 3941px;
  width: 250px;
}

.vector-163 {
  height: 804px;
  left: 182px;
  position: absolute;
  top: 4302px;
  width: 7px;
}

.text-89 {
  left: 229px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 4214px;
  width: 135px;
}

.text-90 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 4317px;
  width: 173px;
}

.text-92 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 78px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 3439px;
  transform: rotate(-0.49deg);
  width: 221px;
}

.text-93 {
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 4730px;
  width: 176px;
}

.text-94 {
  left: 199px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 4843px;
  width: 160px;
}

.text-95 {
  left: 190px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 4402px;
  width: 180px;
}

.text-96 {
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 4548px;
  width: 164px;
}

.text-97 {
  left: 207px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 4622px;
  width: 145px;
}

.polygon-2 {
  height: 36px;
  left: 186px;
  position: absolute;
  top: 5034px;
  width: 26px;
}

.today-1 {
  color: var(--sky-blue);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5035px;
  width: 156px;
}

.text-98 {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 5017px;
  width: 168px;
}

.eagle-token-1 {
  height: 108px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 1116px;
  width: 104px;
}

.overlap-group4-10 {
  height: 2806px;
  margin-left: 2.0px;
  margin-top: 12px;
  position: relative;
  width: 373px;
}

.features-7 {
  align-items: flex-start;
  background-color: var(--color--secondary);
  display: flex;
  flex-direction: column;
  height: 2806px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 373px;
}

.overlap-group-18 {
  height: 1718px;
  margin-left: -188px;
  position: relative;
  width: 760px;
}

.overlap-group5-16 {
  height: 1718px;
  left: 188px;
  position: absolute;
  top: 0;
  width: 364px;
}

.detailed-statistics-3 {
  align-items: flex-start;
  display: flex;
  height: 621px;
  left: 8px;
  position: absolute;
  top: 1097px;
}

.overlap-group7-8 {
  height: 621px;
  position: relative;
  width: 358px;
}

.statistic-1 {
  align-items: flex-end;
  display: flex;
  height: 500px;
  left: 7px;
  position: absolute;
  top: 98px;
}

.overlap-group8-4 {
  height: 500px;
  margin-bottom: -0.11px;
  position: relative;
  width: 353px;
}

.rectangle-75-1 {
  background-color: var(--paris-m);
  border-radius: 16px;
  height: 500px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 333px;
}

.rectangle-81-1 {
  height: 408px;
  left: 6px;
  position: absolute;
  top: 93px;
  width: 333px;
}

.button-register-6 {
  align-items: center;
  background-color: var(--downy);
  border-radius: 32px;
  display: flex;
  height: 34px;
  left: 257px;
  overflow: hidden;
  padding: 0 21.6px;
  position: absolute;
  top: 111px;
  width: 70px;
}

.buy-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2px;
  min-height: 18px;
  min-width: 25px;
  text-align: center;
  white-space: nowrap;
}

.group-117-2 {
  align-items: flex-start;
  display: flex;
  height: 47px;
  left: 5px;
  position: absolute;
  top: 108px;
}

.overlap-group9-3 {
  height: 47px;
  position: relative;
  width: 81px;
}

.price-21 {
  height: 28px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: 18px;
  position: absolute;
  top: 0;
  width: 81px;
}

.last-price-2 {
  height: 19px;
  left: 0;
  letter-spacing: 0.08px;
  line-height: 12px;
  position: absolute;
  top: 28px;
  width: 61px;
}

.text-80 {
  height: 24px;
  left: 22px;
  letter-spacing: 0.10px;
  line-height: 15px;
  position: absolute;
  top: 11px;
  width: 55px;
}

.group-162-2 {
  height: 33px;
  left: 67px;
  position: absolute;
  top: 116px;
  width: 61px;
}

.x3825-btc-2 {
  height: 20px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 59px;
}

.volume-24h-3 {
  height: 13px;
  left: 0;
  letter-spacing: 0.08px;
  line-height: 12px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 51px;
}

.group-6-1 {
  height: 266px;
  left: 2px;
  position: absolute;
  top: 169px;
  width: 276px;
}

.group-141-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 8px;
  position: absolute;
  top: 227px;
  width: 55px;
}

.price-22 {
  height: 18px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.4;
  white-space: nowrap;
}

.price-19 {
  height: 18px;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 35px;
  opacity: 0.4;
  white-space: nowrap;
}

.group-7-1 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 0;
  position: absolute;
  top: 456px;
}

.overlap-group10-3 {
  height: 18px;
  margin-top: 0;
  position: relative;
  width: 30px;
}

.name-1 {
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 11px;
}

.jun-1 {
  height: 18px;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 11px;
}

.jul-1 {
  height: 18px;
  left: 1px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 9px;
}

.aug-1 {
  height: 18px;
  left: 14px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 11px;
}

.sep-1 {
  height: 18px;
  left: 9px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 10px;
}

.nov-1 {
  height: 18px;
  left: 19px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 10px;
}

.overlap-group11-1 {
  height: 18px;
  margin-left: 8px;
  margin-top: 0;
  position: relative;
  width: 11px;
}

.overlap-group11-item {
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 10px;
}

.group-140-1 {
  align-items: flex-start;
  display: flex;
  height: 84px;
  left: 6px;
  position: absolute;
  top: 0;
}

.overlap-group12-1 {
  height: 84px;
  margin-top: -0.06px;
  position: relative;
  width: 345px;
}

.rectangle-77-1 {
  height: 84px;
  left: 0;
  position: absolute;
  top: 0;
  width: 333px;
}

.andriy-lenin-1 {
  height: 23px;
  left: 243px;
  letter-spacing: 0.14px;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 102px;
}

.group-113-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  position: absolute;
  top: 13px;
  width: 107px;
}

.price-20 {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  white-space: nowrap;
}

.total-amount-2 {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-top: 2px;
  white-space: nowrap;
}

.group-115-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  position: absolute;
  top: 56px;
  width: 95px;
}

.price-23 {
  height: 14px;
  letter-spacing: 0.14px;
  line-height: 21px;
  margin-bottom: -7px;
  white-space: nowrap;
}

.high-2 {
  height: 10px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-bottom: -5px;
  margin-left: 0;
  margin-top: 1px;
  white-space: nowrap;
}

.group-116-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 161px;
  position: absolute;
  top: 31px;
  width: 94px;
}

.low-2 {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-top: 2px;
  white-space: nowrap;
}

.group-116-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 97px;
  position: absolute;
  top: 22px;
  width: 90px;
}

.group-115-5 {
  align-items: flex-start;
  display: flex;
  margin-left: 0;
  min-width: 90px;
}

.overlap-group9-4 {
  height: 23px;
  position: relative;
  width: 90px;
}

.text-81 {
  height: 23px;
  left: 0;
  letter-spacing: 0.14px;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 90px;
}

.span-7 {
  letter-spacing: 0.02px;
}

.group-96-4 {
  align-items: flex-start;
  background-color: var(--cyan--aqua);
  display: flex;
  height: 18px;
  left: 11px;
  position: absolute;
  top: 3px;
}

.overlap-group10-4 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.83px;
  height: 18px;
  position: relative;
  width: 15px;
}

.ellipse-44-6 {
  background-color: var(--cyan--aqua);
  border-radius: 7.57px/8.83px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 15px;
}

.ant-designcaret-up-outlined-6 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 3.0px 1.2px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.vector-164 {
  height: 5px;
  width: 7px;
}

.trends-2 {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-left: 6px;
  margin-top: 12px;
  white-space: nowrap;
}

.verified-1 {
  height: 23px;
  left: 277px;
  letter-spacing: 0.40px;
  line-height: 15px;
  position: absolute;
  top: 59px;
  width: 58px;
}

.ellipse-48-1 {
  height: 49px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 21px;
}

.group-156-1 {
  align-items: flex-start;
  display: flex;
  height: 98px;
  left: 83px;
  position: absolute;
  top: 271px;
}

.overlap-group14-1 {
  align-self: flex-end;
  height: 70px;
  margin-bottom: 0;
  position: relative;
  width: 23px;
}

.group-150-2 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  left: 7px;
  position: absolute;
  top: 15px;
}

.overlap-group10-5 {
  height: 55px;
  margin-top: 0;
  position: relative;
  width: 16px;
}

.rectangle-78-28 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 16px;
}

.rectangle-79-30 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 55px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 4px;
}

.overlap-group13-1 {
  height: 96px;
  margin-left: 8px;
  margin-top: 0;
  position: relative;
  width: 185px;
}

.group-122-2 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 42px;
  position: absolute;
  top: 20px;
}

.overlap-group11-2 {
  height: 45px;
  position: relative;
  width: 16px;
}

.rectangle-78-29 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;
}

.rectangle-79-31 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-125-1 {
  align-items: center;
  display: flex;
  height: 45px;
  left: 1px;
  position: absolute;
  top: 14px;
}

.rectangle-79-32 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 45px;
  width: 4px;
}

.rectangle-78-30 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 22px;
  margin-bottom: 0;
  margin-left: 123px;
  width: 16px;
}

.group-126-2 {
  align-items: flex-start;
  display: flex;
  height: 67px;
  left: 71px;
  position: absolute;
  top: 0;
}

.overlap-group20 {
  height: 67px;
  position: relative;
  width: 16px;
}

.rectangle-78-31 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 16px;
}

.rectangle-79-33 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-146-2 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 78px;
  position: absolute;
  top: 50px;
}

.overlap-group23 {
  height: 40px;
  margin-top: 0;
  position: relative;
  width: 16px;
}

.rectangle-78-32 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 16px;
}

.rectangle-79-34 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 40px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-147-2 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 143px;
  position: absolute;
  top: 52px;
}

.overlap-group-14 {
  height: 31px;
  position: relative;
  width: 16px;
}

.rectangle-78-33 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 16px;
}

.rectangle-79-35 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-138-2 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 50px;
  position: absolute;
  top: 37px;
}

.overlap-group-15 {
  height: 31px;
  margin-top: 0;
  position: relative;
  width: 16px;
}

.rectangle-78-34 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 16px;
}

.rectangle-79-36 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 31px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-120-2 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 142px;
  position: absolute;
  top: 46px;
}

.rectangle-78-35 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 16px;
}

.rectangle-79-37 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-121-2 {
  align-items: center;
  display: flex;
  height: 26px;
  left: 72px;
  position: absolute;
  top: 50px;
}

.rectangle-79-38 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 26px;
  width: 4px;
}

.rectangle-78-36 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 11px;
  margin-bottom: 6.69px;
  margin-left: 91px;
  width: 16px;
}

.group-148-2 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 169px;
  position: absolute;
  top: 35px;
}

.overlap-group-16 {
  height: 26px;
  margin-top: 0;
  position: relative;
  width: 16px;
}

.rectangle-78-26 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 11px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;
}

.rectangle-79-39 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 26px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-134-1 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 0;
  position: absolute;
  top: 36px;
}

.overlap-group33 {
  height: 26px;
  position: relative;
  width: 16px;
}

.rectangle-79-40 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-151-2 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 1px;
  position: absolute;
  top: 52px;
}

.rectangle-78-27 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 16px;
}

.rectangle-79-41 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 31px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-132-1 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  left: 36px;
  position: absolute;
  top: 57px;
}

.overlap-group37-1 {
  height: 39px;
  position: relative;
  width: 16px;
}

.rectangle-78-37 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 16px;
}

.rectangle-79-42 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-128-2 {
  align-items: flex-end;
  display: flex;
  height: 22px;
  left: 79px;
  position: absolute;
  top: 32px;
}

.overlap-group38-1 {
  height: 22px;
  margin-bottom: 0;
  position: relative;
  width: 16px;
}

.rectangle-79-43 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 22px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 4px;
}

.group-155-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-bottom: 27.87px;
  margin-left: 5px;
  min-width: 16px;
}

.rectangle-78-38 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 11px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 16px;
}

.rectangle-79-44 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 26px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 4px;
}

.line-7-1 {
  height: 2px;
  left: 4px;
  position: absolute;
  top: 205px;
  width: 280px;
}

.group-157-2 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  left: 269px;
  position: absolute;
  top: 194px;
}

.overlap-group42-1 {
  align-items: flex-start;
  background-color: var(--downy);
  border-radius: 24px;
  display: flex;
  height: 22px;
  justify-content: flex-end;
  min-width: 48px;
  padding: 4.4px 4.9px;
}

.price-24 {
  height: 13px;
  letter-spacing: 0;
  width: 36px;
}

.price-25 {
  height: 18px;
  left: 62px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.4;
  position: absolute;
  top: 176px;
  white-space: nowrap;
  width: 41px;
}

.base-3 {
  height: 621px;
  left: 0;
  position: absolute;
  top: 0;
  width: 353px;
}

.group-161-2 {
  align-items: flex-start;
  display: flex;
  height: 23px;
  left: 148px;
  position: absolute;
  top: 1189px;
}

.overlap-group43-1 {
  height: 23px;
  position: relative;
  width: 75px;
}

.usdbtc-2 {
  height: 23px;
  left: 2px;
  letter-spacing: 0.14px;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 72px;
}

.group-96-5 {
  align-items: flex-end;
  background-color: var(--neutralwhite);
  display: flex;
  height: 18px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 2px;
  transform: rotate(180.00deg);
}

.overlap-group7-9 {
  background-color: var(--neutralwhite);
  border-radius: 8.4px/8.83px;
  height: 18px;
  margin-bottom: 0;
  position: relative;
  width: 17px;
}

.ellipse-44-7 {
  background-color: var(--neutralwhite);
  border-radius: 8.4px/8.83px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 17px;
}

.ant-designcaret-up-outlined-7 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 3.0px 1.2px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.vector-165 {
  height: 5px;
  transform: rotate(-180.00deg);
  width: 8px;
}

.button-register-7 {
  align-items: center;
  background-color: var(--radical-red);
  border-radius: 32px;
  display: flex;
  height: 34px;
  left: 194px;
  overflow: hidden;
  padding: 0 20.3px;
  position: absolute;
  top: 1307px;
  width: 67px;
}

.sell-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2px;
  min-height: 18px;
  min-width: 24px;
  text-align: center;
  white-space: nowrap;
}

.button-38 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 38px;
  left: 128px;
  overflow: hidden;
  padding: 0 10.5px;
  position: absolute;
  top: 1090px;
  width: 123px;
}

.start-trade-5 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 27px;
  margin-left: 2px;
  min-height: 27px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group6-11 {
  height: 619px;
  left: 208px;
  position: absolute;
  top: 299px;
  width: 334px;
}

.invest-smart-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 334px;
}

.text-76 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -4px;
  min-height: 170px;
  width: 338px;
}

.invest-smart-4 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  margin-bottom: -4px;
  margin-left: 9.0px;
  min-height: 44px;
  white-space: nowrap;
  width: 221px;
}

.overlap-group11-3 {
  height: 123px;
  margin-right: 2.0px;
  margin-top: 3px;
  position: relative;
  width: 336px;
}

.button-39 {
  align-items: center;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 28px;
  left: 91px;
  overflow: hidden;
  padding: 0 30.5px;
  position: absolute;
  top: 95px;
  width: 163px;
}

.text-83 {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 336px;
}

.chart-1 {
  height: 403px;
  margin-right: 4.66px;
  margin-top: 46px;
  position: relative;
  width: 312px;
}

.overlap-group7-10 {
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 337px;
}

.rectangle-74-1 {
  background-color: var(--blue-gem);
  border-radius: 16px;
  height: 253px;
  left: 0;
  position: absolute;
  top: 0;
  width: 312px;
}

.group-110-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 192px;
}

.overlap-group8-5 {
  height: 48px;
  position: relative;
  width: 192px;
}

.text-82 {
  left: 48px;
  letter-spacing: 0.14px;
  position: absolute;
  text-align: right;
  top: 28px;
  width: 72px;
}

.group-90-1 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 23px;
  position: absolute;
  top: 0;
}

.overlap-group9-5 {
  height: 34px;
  position: relative;
  width: 168px;
}

.bitcoin-3 {
  left: 41px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 126px;
}

.btc-7 {
  left: 0;
  letter-spacing: 0;
  opacity: 0.7;
  position: absolute;
  top: 8px;
  width: 52px;
}

.group-17-4 {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 30.35px/23.24px;
  display: flex;
  height: 46px;
  left: 0;
  position: absolute;
  top: 2px;
}

.logosbitcoin-4 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 46px;
  padding: 8.5px 15.6px;
  width: 61px;
}

.vector-166 {
  height: 30px;
  width: 30px;
}

.x000080-btc-1 {
  letter-spacing: 0.14px;
  margin-left: 4px;
  margin-top: 5px;
  min-height: 20px;
  width: 137px;
}

.card-visits-per-day-1 {
  height: 142px;
  left: 162px;
  position: absolute;
  top: 236px;
  width: 175px;
}

.group-111-2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 115px;
  left: 21px;
  min-width: 269px;
  position: absolute;
  top: 90px;
}

.vector-7-3 {
  height: 64px;
  margin-left: -1px;
  margin-top: -1.74px;
  width: 272px;
}

.card-bounce-rate-2 {
  align-items: flex-start;
  display: flex;
  height: 148px;
  left: 25px;
  position: absolute;
  top: 255px;
}

.overlap-group10-6 {
  -webkit-backdrop-filter: blur(250px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(250px) brightness(100%);
  background-color: var(--daisy-bush);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 148px;
  padding: 9px 6px;
  width: 119px;
}

.increase-in-trade-2 {
  color: var(--neutralwhite);
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 28px;
  min-height: 33px;
  white-space: nowrap;
  width: 103px;
}

.arrow-up-2 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-right: 36.96px;
  margin-top: 1px;
  overflow: hidden;
  width: 16px;
}

.vector-167 {
  height: 20px;
  margin-left: 3px;
  margin-top: -0.66px;
  width: 14px;
}

.sell-option-2 {
  align-self: flex-start;
  letter-spacing: 0.16px;
  margin-top: 34px;
  min-height: 15px;
  width: 57px;
}

.text-84 {
  left: 48px;
  letter-spacing: 0.24px;
  position: absolute;
  top: 507px;
  width: 47px;
}

.text-85 {
  left: 249px;
  letter-spacing: 0.16px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 89px;
  width: 253px;
}

.exchange-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: 760px;
}

.detailed-statistics-4 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 225px;
  line-height: 48px;
  position: absolute;
  top: 938px;
  white-space: nowrap;
  width: 328px;
}

.text-86 {
  left: 195px;
  letter-spacing: 0.16px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 982px;
  width: 362px;
}

.grow-profit-1 {
  align-items: flex-start;
  display: flex;
  margin-left: -11.0px;
  margin-top: 119px;
  min-width: 400px;
}

.overlap-group7-11 {
  height: 834px;
  position: relative;
  width: 400px;
}

.table-1 {
  align-items: flex-end;
  display: flex;
  height: 834px;
  left: 19px;
  position: absolute;
  top: 0;
}

.overlap-group8-6 {
  height: 834px;
  margin-bottom: 0;
  margin-left: -4px;
  position: relative;
  width: 390px;
}

.base-4 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: var(--blue-gem);
  border-radius: 16px;
  height: 801px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 353px;
}

.title-2 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  left: 67px;
  position: absolute;
  top: 393px;
}

.overlap-group9-6 {
  height: 128px;
  position: relative;
  width: 115px;
}

.surname-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 65px;
}

.place-9 {
  left: 55px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.volume-24h-4 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 4px;
  min-height: 134px;
  width: 130px;
}

.btc-8 {
  align-items: flex-start;
  display: flex;
  height: 113px;
  left: 51px;
  position: absolute;
  top: 721px;
}

.overlap-group10-7 {
  height: 113px;
  position: relative;
  width: 337px;
}

.btc-9 {
  align-items: center;
  display: flex;
  height: 113px;
  left: 0;
  position: absolute;
  top: 0;
}

.logosbitcoin-5 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 53px;
  margin-bottom: 21.72px;
  padding: 9.5px 13.0px;
  width: 50px;
}

.vector-168 {
  height: 34px;
  margin-left: 1px;
  width: 24px;
}

.group-91-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 113px;
  width: 228px;
}

.btc-10 {
  letter-spacing: 0;
  min-height: 58px;
  width: 175px;
}

.bitcoin-4 {
  letter-spacing: 0.16px;
  margin-top: 9px;
  min-height: 46px;
  width: 226px;
}

.price-26 {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
  width: 102px;
}

.group-100-2 {
  align-items: center;
  display: flex;
  height: 72px;
  left: 94px;
  position: absolute;
  top: 10px;
}

.group-96-6 {
  align-items: flex-start;
  background-color: var(--aquamarine);
  display: flex;
  margin-top: 3.8px;
  min-width: 45px;
}

.overlap-group9-7 {
  background-color: var(--aquamarine);
  border-radius: 22.47px/30.38px;
  height: 61px;
  position: relative;
  width: 45px;
}

.ellipse-44-8 {
  background-color: var(--aquamarine);
  border-radius: 22.47px/30.38px;
  height: 61px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 45px;
}

.ant-designcaret-up-outlined-8 {
  align-items: flex-end;
  display: flex;
  height: 38px;
  left: 1px;
  padding: 11.0px 4.3px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.vector-169 {
  height: 16px;
  width: 20px;
}

.text-76-1 {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 72px;
  width: 128px;
}

.price-27 {
  left: 176px;
  letter-spacing: 0;
  position: absolute;
  top: 55px;
  width: 161px;
}

.eth-2 {
  height: 282px;
  left: 0;
  position: absolute;
  top: 375px;
  width: 370px;
}

.ltc-6 {
  align-items: flex-start;
  display: flex;
  height: 113px;
  left: 54px;
  position: absolute;
  top: 603px;
}

.overlap-group11-4 {
  height: 113px;
  position: relative;
  width: 323px;
}

.price-28 {
  left: 83px;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
  width: 95px;
}

.group-102-2 {
  align-items: center;
  display: flex;
  height: 71px;
  left: 81px;
  position: absolute;
  top: 21px;
}

.group-98 {
  align-items: flex-start;
  background-color: var(--aquamarine);
  display: flex;
  margin-top: 3.76px;
  min-width: 35px;
}

.overlap-group9-8 {
  background-color: var(--aquamarine);
  border-radius: 17.52px/30.07px;
  height: 60px;
  position: relative;
  width: 35px;
}

.ellipse-44-9 {
  background-color: var(--aquamarine);
  border-radius: 17.52px/30.07px;
  height: 60px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 35px;
}

.ant-designcaret-up-outlined-9 {
  align-items: flex-end;
  display: flex;
  height: 38px;
  left: 0;
  padding: 10.8px 3.2px;
  position: absolute;
  top: 11px;
  width: 22px;
}

.vector-170 {
  height: 16px;
  width: 16px;
}

.text-77 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 71px;
  width: 107px;
}

.price-29 {
  left: 172px;
  letter-spacing: 0;
  position: absolute;
  top: 50px;
  width: 151px;
}

.ltc-7 {
  align-items: flex-start;
  display: flex;
  height: 113px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
}

.group-38-2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-top: 9.16px;
  min-width: 47px;
  padding: 17.9px 15.8px;
}

.shape-2 {
  height: 22px;
  width: 15px;
}

.group-94-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 113px;
  width: 210px;
}

.ltc-8 {
  letter-spacing: 0;
  min-height: 58px;
  width: 131px;
}

.litecoin-2 {
  letter-spacing: 0.16px;
  margin-top: 9px;
  min-height: 46px;
  width: 208px;
}

.text-78 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 26px;
  width: 396px;
}

.overlap-group12-2 {
  height: 184px;
  margin-right: 2.0px;
  position: relative;
  width: 394px;
}

.text-78-1 {
  left: 34px;
  letter-spacing: 0.16px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 326px;
}

.text-79 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 394px;
}

.button-40 {
  align-items: flex-start;
  background-color: var(--color--accent);
  border-radius: 32px;
  display: flex;
  height: 51px;
  margin-left: 0.35px;
  margin-top: 21px;
  overflow: hidden;
  padding: 12.1px 4.2px;
  width: 110px;
}

.o-2 {
  height: 360px;
  left: 51px;
  position: absolute;
  top: 592px;
  width: 264px;
}

.overlap-group2-6 {
  height: 1605px;
  margin-left: 4.82px;
  position: relative;
  width: 396px;
}

.footer-1 {
  align-items: flex-end;
  background-color: var(--color--primary);
  display: flex;
  flex-direction: column;
  height: 1605px;
  left: 3px;
  overflow: hidden;
  padding: 43px 0;
  position: absolute;
  top: 0;
  width: 380px;
}

.services-3 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  margin-right: 4.73px;
  margin-top: 34px;
  min-height: 50px;
  white-space: nowrap;
  width: 247px;
}

.overlap-group5-17 {
  height: 1080px;
  margin-right: -6px;
  margin-top: 272px;
  position: relative;
  width: 393px;
}

.text-87 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 28px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 585px;
  transform: rotate(-0.09deg);
  width: 176px;
}

.payment-systems-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.our-investors-1 {
  align-self: center;
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-bottom: -9px;
  margin-left: 18.46px;
  min-height: 51px;
  white-space: nowrap;
  width: 288px;
}

.join-our-community-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-top: 339px;
  min-height: 108px;
  text-align: center;
  width: 382px;
}

.text-88 {
  align-self: flex-end;
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  margin-right: 4px;
  margin-top: 531px;
  min-height: 49px;
  text-align: center;
  white-space: nowrap;
  width: 374px;
}

.button-41 {
  align-items: center;
  background-color: var(--neutralwhite);
  border-radius: 32px;
  display: flex;
  height: 54px;
  left: 247px;
  overflow: hidden;
  position: absolute;
  top: 680px;
  width: 110px;
}

.click-to-join-3 {
  color: var(--color--primary);
  font-weight: 500;
  line-height: 27px;
  margin-left: 1px;
  min-height: 27px;
  min-width: 109px;
  text-align: center;
  white-space: nowrap;
}

.x5c6a9b8bf9eb427-46938e899cc-5-2 {
  height: 74px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 273px;
}

.x178a2ae1287e4a7-2367c6f9ab9-4-2 {
  height: 112px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 155px;
  width: 208px;
}

.frame-10 {
  align-items: flex-end;
  background-color: var(--neutralwhite);
  display: flex;
  overflow: hidden;
  padding: 0 57px;
  width: 372px;
}

.githubpng58-1-1 {
  height: 83px;
  margin-bottom: -4.5px;
  margin-left: 35px;
  object-fit: cover;
  width: 98px;
}

.telegramsoftware-logo-1-1 {
  height: 83px;
  margin-bottom: -4.5px;
  margin-left: 13px;
  object-fit: cover;
  width: 112px;
}

.address-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 153px;
  width: 396px;
}

