.trade-securely-3 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 1405px;
  left: -4px;
  position: absolute;
  top: 4656px;
  width: 1440px;
}

.overlap-group5-28 {
  height: 1388px;
  position: relative;
  width: 1440px;
}

.bg-3 {
  background-color: var(--color--primary);
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.cryptocurrencies-3 {
  height: 732px;
  left: 107px;
  position: absolute;
  top: 656px;
  width: 1244px;
}

.calculate-9 {
  height: 771px;
  left: 49px;
  position: absolute;
  top: 122px;
  width: 1342px;
}

.trade-securely-3.trade-securely-4 {
  left: 27px;
}

.trade-securely-3.trade-securely-6 {
  left: 27px;
}

