.header-7 {
  align-items: flex-end;
  background-color: var(--color--primary);
  display: flex;
  flex-direction: column;
  height: 850px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.overlap-group4-21 {
  height: 798px;
  margin-right: -42.1px;
  margin-top: 51px;
  position: relative;
  width: 1391px;
}

.x-54 {
  height: 380px;
  left: 551px;
  position: absolute;
  top: 418px;
  width: 840px;
}

.x-55 {
  height: 1px;
  left: 598px;
  position: absolute;
  top: 522px;
  width: 1px;
}

.illustration-7 {
  align-items: flex-end;
  display: flex;
  height: 585px;
  left: 625px;
  position: absolute;
  top: 0;
}

.x-56 {
  height: 148px;
  margin-bottom: 0.78px;
  width: 224px;
}

.flex-col-81 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -0.17px;
  margin-left: 140px;
  min-height: 585px;
  width: 239px;
}

.x-57 {
  height: 329px;
  margin-right: 1.0px;
  width: 221px;
}

.x-58 {
  height: 166px;
  margin-top: 89px;
  width: 239px;
}

.componentlottie-20p9ce3saqjson-8 {
  height: 546px;
  left: 504px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 778px;
}

