.group-102 {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 71px;
  margin-top: 0;
  min-width: 80px;
  position: relative;
}

.text-37-1 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 30px;
  width: 54px;
}

.group-102.group-102-1 {
  margin-left: 70px;
}

