.group-137-3 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 31.15px;
  margin-left: 7px;
  min-width: 7px;
}

.overlap-group-33 {
  height: 78px;
  margin-top: 0;
  position: relative;
  width: 7px;
}

.rectangle-78-62 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 7px;
}

.rectangle-79-65 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 78px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-137-3.group-122-3 {
  margin-bottom: 25.31px;
  margin-left: 21px;
}

.group-137-3.group-122-3 .rectangle-78-62 {
  background-color: var(--radical-red);
}

.group-137-3.group-122-3 .rectangle-79-65 {
  background-color: var(--radical-red);
}

.group-137-3.group-140-5 {
  margin-bottom: 17.52px;
}

