.button-56 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  border-radius: 6px;
  display: flex;
  height: 52px;
  margin-top: 32px;
  min-width: 343px;
  padding: 17px 135.3px;
}

.text-315 {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 68px;
  text-align: center;
}

.button-56.button-57 {
  left: 16px;
  margin-top: unset;
  padding: 17px 137.3px;
  position: absolute;
  top: 407px;
}

.button-56.button-57 .text-315 {
  min-width: 65px;
}

.button-56.button-60 {
  cursor: pointer;
}

