.quick-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 40px;
  position: absolute;
  top: 103px;
  width: 232px;
}

.services {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  margin-right: 32.0px;
  min-height: 50px;
  white-space: nowrap;
  width: 144px;
}

.address {
  letter-spacing: 0;
  line-height: 38px;
  margin-right: 2.0px;
  margin-top: 4px;
  min-height: 142px;
  width: 230px;
}

.quick-link.quick-link-1 {
  top: 10px;
}

.quick-link.quick-link-2 {
  top: 10px;
}

