.card-bounce-rate {
  align-items: flex-start;
  display: flex;
  height: 201px;
  left: 75px;
  position: absolute;
  top: 265px;
}

.overlap-group6-3 {
  -webkit-backdrop-filter: blur(250px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(250px) brightness(100%);
  background-color: var(--daisy-bush);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 201px;
  padding: 26.2px 15.3px;
  width: 192px;
}

.increase-in-trade {
  align-self: flex-end;
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 61px;
  width: 160px;
}

.group-69 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-width: 104px;
}

.text-44 {
  letter-spacing: 0.24px;
  min-height: 32px;
  width: 74px;
}

.arrow-up {
  align-items: flex-end;
  display: flex;
  height: 26px;
  margin-left: 1px;
  margin-top: 1.09px;
  padding: 6.3px 6.2px;
  width: 26px;
}

.vector-120 {
  height: 14px;
  width: 14px;
}

.sell-option {
  letter-spacing: 0.16px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 21px;
  width: 91px;
}

.card-bounce-rate-1 {
  align-items: flex-start;
  display: flex;
  height: 201px;
  left: 75px;
  position: absolute;
  top: 265px;
}

.overlap-group5-5 {
  -webkit-backdrop-filter: blur(250px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(250px) brightness(100%);
  background-color: var(--daisy-bush);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 201px;
  padding: 26.2px 15.3px;
  width: 192px;
}

.increase-in-trade-1 {
  align-self: flex-end;
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 61px;
  width: 160px;
}

.group-69-1 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-width: 104px;
}

.text-155 {
  letter-spacing: 0.24px;
  min-height: 32px;
  width: 74px;
}

.arrow-up-1 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  margin-left: 1px;
  margin-top: 1.09px;
  padding: 6.3px 6.2px;
  width: 26px;
}

.vector-121 {
  height: 14px;
  width: 14px;
}

.sell-option-1 {
  letter-spacing: 0.16px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 21px;
  width: 91px;
}

