.dott-1-3 {
  align-items: flex-end;
  display: flex;
  height: 371px;
  left: 1241px;
  overflow: hidden;
  padding: 0 57.4px;
  position: absolute;
  top: 565px;
  width: 241px;
}

.overlap-group-27 {
  height: 371px;
  margin-bottom: -0.26px;
  position: relative;
  width: 32px;
}

.vector-216 {
  height: 304px;
  left: 14px;
  position: absolute;
  top: 67px;
  width: 4px;
}

.vector-217 {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.dott-1-3.dott-8-1 {
  left: 912px;
  top: 575px;
}

