.facebook-f-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 2.0px 6.6px;
  width: 24px;
}

.vector-220 {
  height: 20px;
  width: 10px;
}

.facebook-f-1-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 2.0px 6.6px;
  width: 24px;
}

.vector-221 {
  height: 20px;
  width: 10px;
}

