.dott-1-1 {
  align-items: flex-end;
  display: flex;
  height: 371px;
  left: 1220px;
  overflow: hidden;
  padding: 0 57.8px;
  position: absolute;
  top: 578px;
  width: 243px;
}

.overlap-group-4 {
  height: 371px;
  margin-bottom: -0.26px;
  position: relative;
  width: 32px;
}

.vector-110 {
  height: 304px;
  left: 14px;
  position: absolute;
  top: 67px;
  width: 4px;
}

.vector-111 {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.dott-1-1.dott-8 {
  left: 901px;
  top: 582px;
}

