.ltc-1 {
  align-items: center;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  min-width: 145px;
}

.group-38 {
  align-items: flex-start;
  display: flex;
  height: 63px;
  justify-content: center;
  margin-top: 1.58px;
  min-width: 43px;
}

.overlap-group6-7 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  margin-top: -0.42px;
  min-width: 44px;
  padding: 19.5px 14.6px;
}

.shape {
  height: 22px;
  width: 14px;
}

.group-94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  min-height: 74px;
  width: 70px;
}

.ltc-2 {
  letter-spacing: 0;
  min-height: 38px;
  width: 43px;
}

.litecoin {
  letter-spacing: 0.16px;
  margin-left: 0;
  margin-top: 6px;
  min-height: 30px;
  width: 68px;
}

.ltc-3 {
  align-items: center;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  min-width: 145px;
}

.group-38-1 {
  align-items: flex-start;
  display: flex;
  height: 63px;
  justify-content: center;
  margin-top: 1.58px;
  min-width: 43px;
}

.overlap-group5-11 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  margin-top: -0.42px;
  min-width: 44px;
  padding: 19.5px 14.6px;
}

.shape-1 {
  height: 22px;
  width: 14px;
}

.group-94-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  min-height: 74px;
  width: 70px;
}

.ltc-4 {
  letter-spacing: 0;
  min-height: 38px;
  width: 43px;
}

.litecoin-1 {
  letter-spacing: 0.16px;
  margin-left: 0;
  margin-top: 6px;
  min-height: 30px;
  width: 68px;
}

