.enter-your-email-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8.0px;
  min-height: 35px;
  width: 376px;
}

.enter-your-email-3 {
  letter-spacing: 0.16px;
  line-height: 28px;
  min-height: 28px;
  white-space: nowrap;
}

.form-6 {
  height: 1px;
  margin-top: 6px;
  width: 374px;
}

.enter-your-email-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8.0px;
  min-height: 35px;
  width: 376px;
}

.enter-your-email-5 {
  letter-spacing: 0.16px;
  line-height: 28px;
  min-height: 28px;
  white-space: nowrap;
}

.form-7 {
  height: 1px;
  margin-top: 6px;
  width: 374px;
}

.enter-your-email-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8.0px;
  min-height: 35px;
  width: 376px;
}

.enter-your-email-7 {
  letter-spacing: 0.16px;
  line-height: 28px;
  min-height: 28px;
  white-space: nowrap;
}

.form-8 {
  height: 1px;
  margin-top: 6px;
  width: 374px;
}

