.group-113 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 143px;
  position: absolute;
  top: 20px;
  width: 68px;
}

.price-11 {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  white-space: nowrap;
}

.total-amount {
  height: 17px;
  letter-spacing: 0.10px;
  line-height: 15px;
  margin-top: 2px;
  white-space: nowrap;
}

.group-113.group-113-1 {
  left: 141px;
}

