.group-161 {
  align-items: center;
  display: flex;
  height: 23px;
  left: 0;
  position: absolute;
  top: 119px;
}

.usdbtc {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  white-space: nowrap;
  width: 65px;
}

.group-96 {
  align-items: flex-end;
  background-color: var(--neutralwhite);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.11px;
  margin-left: 5px;
  min-width: 15px;
  transform: rotate(180.00deg);
}

.overlap-group5-7 {
  background-color: var(--neutralwhite);
  border-radius: 7.57px/8.9px;
  height: 18px;
  margin-bottom: 0;
  position: relative;
  width: 15px;
}

.ellipse-44 {
  background-color: var(--neutralwhite);
  border-radius: 7.57px/8.9px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 15px;
}

.ant-designcaret-up-outlined {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 3.1px 1.2px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.vector-122 {
  height: 5px;
  transform: rotate(-360.00deg);
  width: 7px;
}

.group-161-1 {
  align-items: center;
  display: flex;
  height: 23px;
  left: 0;
  position: absolute;
  top: 119px;
}

.usdbtc-1 {
  height: 23px;
  letter-spacing: 0.14px;
  line-height: 21px;
  white-space: nowrap;
  width: 65px;
}

.group-96-1 {
  align-items: flex-end;
  background-color: var(--neutralwhite);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.11px;
  margin-left: 5px;
  min-width: 15px;
  transform: rotate(180.00deg);
}

.overlap-group4-8 {
  background-color: var(--neutralwhite);
  border-radius: 7.57px/8.9px;
  height: 18px;
  margin-bottom: 0;
  position: relative;
  width: 15px;
}

.ellipse-44-1 {
  background-color: var(--neutralwhite);
  border-radius: 7.57px/8.9px;
  height: 18px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 15px;
}

.ant-designcaret-up-outlined-1 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 3px;
  padding: 3.1px 1.2px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.vector-123 {
  height: 5px;
  transform: rotate(-360.00deg);
  width: 7px;
}

