.why-crappo-2 {
  background-color: var(--color--primary);
  height: 887px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 850px;
  width: 1440px;
}

.overlap-group1-10 {
  height: 954px;
  left: -202px;
  position: absolute;
  top: 0;
  width: 1804px;
}

.x-23 {
  height: 470px;
  left: 0;
  position: absolute;
  top: 484px;
  width: 522px;
}

.d-2 {
  height: 196px;
  left: 1486px;
  position: absolute;
  top: 165px;
  width: 185px;
}

.u-3 {
  height: 120px;
  left: 1531px;
  position: absolute;
  top: 678px;
  width: 154px;
}

