.group-138 {
  align-items: flex-start;
  display: flex;
  margin-left: 7px;
  margin-top: 14.46px;
  min-width: 8px;
}

.overlap-group25 {
  height: 61px;
  position: relative;
  width: 8px;
}

.rectangle-78-12 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 8px;
}

.rectangle-79-14 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 61px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-138-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 7px;
  margin-top: 14.46px;
  min-width: 8px;
}

.overlap-group24 {
  height: 61px;
  position: relative;
  width: 8px;
}

.rectangle-78-13 {
  background-color: var(--radical-red);
  border-radius: 4px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 8px;
}

.rectangle-79-15 {
  background-color: var(--radical-red);
  border-radius: 1px;
  height: 61px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

