.youtube-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 32px;
  padding: 4.0px 0.5px;
  width: 24px;
}

.vector-224 {
  height: 16px;
  width: 23px;
}

.youtube-1.youtube-1-1 {
  margin-left: 91px;
}

