.header-1 {
  align-items: flex-end;
  background-color: var(--color--primary);
  display: flex;
  flex-direction: column;
  height: 850px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.overlap-group1-9 {
  height: 798px;
  margin-right: -42.1px;
  margin-top: 51px;
  position: relative;
  width: 1391px;
}

.x-20 {
  height: 380px;
  left: 551px;
  position: absolute;
  top: 418px;
  width: 840px;
}

.x-21 {
  height: 1px;
  left: 598px;
  position: absolute;
  top: 522px;
  width: 1px;
}

.componentlottie-20p9ce3saqjson-2 {
  height: 546px;
  left: 504px;
  position: absolute;
  top: 56px;
  width: 778px;
}

.componentlottie-20p9ce3saqjson-2 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.componentlottie-20p9ce3saqjson-2 img {
  object-fit: cover;
}

