.check-how-much-you-can-earn {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-19 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-18 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-123 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-122 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-145 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-144 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-222 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-221 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-240 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-239 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-261 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-260 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-279 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-278 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

.check-how-much-you-can-earn-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 745px;
}

.text-297 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-right: 2.0px;
  min-height: 60px;
  text-align: center;
  white-space: nowrap;
  width: 743px;
}

.text-296 {
  color: var(--neutral--grey-5);
  line-height: 27px;
  margin-right: 17.0px;
  margin-top: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 624px;
}

