.frame-6-1 {
  align-items: flex-end;
  background-color: var(--color--primary);
  display: flex;
  flex-direction: column;
  height: 2927px;
  left: 2px;
  overflow: hidden;
  padding: 75px 0;
  position: absolute;
  top: 879px;
  width: 1440px;
}

.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -49px;
  margin-top: 54px;
  min-height: 2306px;
  width: 1440px;
}

.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1560px;
  width: 1440px;
}

.flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 874px;
  width: 1386px;
}

.flex-row-8 {
  align-items: flex-start;
  display: flex;
  min-width: 1386px;
}

.componentlottie-20ikaawl5vjson-2 {
  height: 478px;
  object-fit: cover;
  width: 614px;
}

.flex-col-16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 76px;
  margin-top: 25px;
  min-height: 352px;
  width: 696px;
}

.features-8 {
  color: var(--neutralwhite);
  font-weight: 700;
  margin-right: 59.0px;
  min-height: 78px;
  text-align: center;
  width: 333px;
}

.text-107-1 {
  color: var(--mercury);
  font-weight: 700;
  line-height: 48px;
  margin-top: 73px;
  min-height: 201px;
  text-align: center;
  width: 696px;
}

.overlap-group5-18 {
  height: 396px;
  margin-left: 16px;
  position: relative;
  width: 1300px;
}

.text-108-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 846px;
}

.overlap-group4-11 {
  height: 396px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 1271px;
}

.text-112-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 0;
  line-height: 48px;
  position: absolute;
  top: 182px;
  width: 854px;
}

.componentlottie-20w-x1ch-gjson-2 {
  height: 396px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 443px;
}

.flex-row-9 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 289px;
  margin-top: 40px;
  min-width: 1338px;
}

.componentlottie-30jspeqlszjson-2 {
  height: 260px;
  object-fit: cover;
  width: 265px;
}

.flex-col-17 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 122px;
  min-height: 287px;
  width: 951px;
}

.text-110-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  min-height: 99px;
  text-align: center;
  width: 951px;
}

.text-115-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 48px;
  margin-right: 17.0px;
  margin-top: 25px;
  min-height: 163px;
  text-align: right;
  width: 684px;
}

.overlap-group3-12 {
  height: 291px;
  margin-left: 18px;
  margin-top: 66px;
  position: relative;
  width: 1366px;
}

.cross-chain-support-2 {
  color: var(--neutralwhite);
  font-weight: 700;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 846px;
}

.text-113-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  left: 27px;
  line-height: 48px;
  position: absolute;
  top: 131px;
  width: 854px;
}

.componentlottie-20j7-po1-ejson-2 {
  height: 291px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 588px;
}

.flex-row-10 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-top: 48px;
  min-width: 1424px;
}

.componentlottie-20ko8ud57vjson-2 {
  height: 360px;
  object-fit: cover;
  width: 410px;
}

.flex-col-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 13.0px;
  margin-left: 63px;
  min-height: 307px;
  width: 951px;
}

.text-111-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  min-height: 99px;
  text-align: center;
  width: 951px;
}

.text-116-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 48px;
  margin-right: 93.0px;
  margin-top: 16px;
  min-height: 192px;
  text-align: right;
  width: 684px;
}

.flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 243px;
  margin-left: 32px;
  margin-top: 95px;
  min-width: 1264px;
}

.flex-col-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 238px;
  width: 854px;
}

.text-109-2 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  margin-left: 4px;
  min-height: 85px;
  text-align: center;
  width: 846px;
}

.text-114-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 48px;
  margin-top: 5px;
  min-height: 148px;
  width: 854px;
}

.componentlottie-30dzassmiojson-2 {
  align-self: flex-end;
  height: 237px;
  margin-left: 78px;
  object-fit: cover;
  width: 332px;
}

.flex-row-12 {
  align-items: flex-start;
  display: flex;
  height: 343px;
  margin-right: -78px;
  margin-top: 74px;
  min-width: 1469px;
}

.componentlottie-307z3j6ycbjson-2 {
  height: 318px;
  object-fit: cover;
  width: 440px;
}

.flex-col-20 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 78px;
  min-height: 289px;
  width: 951px;
}

.help-support-2 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 60px;
  min-height: 99px;
  text-align: center;
  width: 951px;
}

.text-117-1 {
  color: var(--neutralwhite);
  font-weight: 500;
  line-height: 48px;
  margin-right: 87.0px;
  min-height: 190px;
  text-align: right;
  width: 748px;
}

.frame-6-1.frame-5 {
  left: 0;
  top: 1729px;
}

.frame-6-1.frame-5-1 {
  left: 0;
  top: 1729px;
}

.frame-6-1.frame-5-2 {
  left: 0;
  top: 1729px;
}

.frame-6-1.frame-5-3 {
  left: 27px;
  top: 1729px;
}

