.group-153-3 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 53.54px;
  margin-left: 7px;
  min-width: 7px;
}

.overlap-group23-1 {
  height: 54px;
  margin-top: 0;
  position: relative;
  width: 7px;
}

.rectangle-78-68 {
  background-color: var(--downy);
  border-radius: 4px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 7px;
}

.rectangle-79-72 {
  background-color: var(--downy);
  border-radius: 1px;
  height: 54px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2px;
}

.group-153-3.group-142-3 {
  margin-bottom: 21.42px;
}

.group-153-3.group-142-3 .overlap-group23-1 {
  height: 70px;
}

.group-153-3.group-142-3 .rectangle-78-68 {
  background-color: var(--radical-red);
}

.group-153-3.group-142-3 .rectangle-79-72 {
  background-color: var(--radical-red);
  height: 70px;
}

