.icon-13 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-31 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-15 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-earth-2 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

.icon-14 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-32 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-16 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-earth-3 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

.icon-15 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-33 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-17 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-earth-4 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

.icon-16 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group2-34 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-18 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-earth-5 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

.icon-17 {
  align-items: flex-start;
  background-color: var(--neutralwhite);
  display: flex;
  min-width: 80px;
}

.overlap-group3-26 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  position: relative;
  width: 80px;
}

.base-19 {
  background-color: var(--neutralwhite);
  border-radius: 40px;
  height: 80px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 80px;
}

.icon-earth-6 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

