.start-mining {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 392px;
  margin-right: 15.0px;
  margin-top: 150px;
  overflow: hidden;
  padding: 0 34.8px;
  width: 1389px;
}

.overlap-group39 {
  height: 515px;
  margin-bottom: -211.26px;
  position: relative;
  width: 1285px;
}

.x-12 {
  height: 392px;
  left: 354px;
  position: absolute;
  top: 55px;
  width: 849px;
}

.x-13 {
  height: 392px;
  left: 0;
  position: absolute;
  top: 123px;
  width: 849px;
}

.start-mining-now {
  align-items: flex-start;
  background-color: var(--color--accent);
  background-size: 100% 100%;
  border-radius: 16px;
  display: flex;
  height: 216px;
  left: 85px;
  min-width: 1200px;
  padding: 48px;
  position: absolute;
  top: 0;
}

.text-47-1 {
  color: var(--neutralwhite);
  font-weight: 700;
  line-height: 48px;
  min-height: 96px;
  width: 503px;
}

.enter-your-email {
  align-items: center;
  align-self: center;
  display: flex;
  height: 55px;
  margin-bottom: 9.0px;
  margin-left: 17px;
  min-width: 546px;
  position: relative;
}

.start-mining.start-mining-1 {
  margin-right: 4.0px;
}

